:root {
    --theme-color: #fe6f3b;
    --checkbox-color: #57bb72;
    --warning-color: #d04b2b;
    --critical-color: #ffc93d;
    --border-color: #dfdfe1;
    --light-grey-color: #e3e3e3;
    --dark-grey-color: #909090;
}

* {
    /*border: 1px solid red;*/
}

html, body {
    height: 100%;
}

button:focus {
    outline: 0;
}

/* Adjusts ng-bootstrap tooltip styling */
.warning-tooltip > div {
    animation-name: tooltipFade;
    animation-duration: 0.4s;
}

/* Adjusts ng-bootstrap tooltip styling */
.warning-tooltip .tooltip-inner {
    border: 1px solid black;
    background-color: white;
    color: var(--theme-color);
}

/* Adjusts ng-bootstrap tooltip styling */
.warning-tooltip.show {
    opacity: 1;
}

/* Adjusts ng-bootstrap tooltip styling */
@Keyframes tooltipFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Overwrites ng-bootstrap styling */
.date-picker .bg-light {
    background-color: var(--theme-color) !important; /* Important used to overwrite build in important use */
}

/* Overwrites ng-bootstrap styling */
.date-picker .btn-link, .ngb-dp-weekday {
    color: var(--theme-color) !important;
}

/* Overwrites ng-bootstrap styling */
.date-picker .bg-primary {
    background-color: rgba(254, 111, 59, 0.69) !important;
}

/* Overwrites ng-bootstrap styling */
.dropdown-menu .btn-link {
    color: var(--theme-color);
}

/* Overwrites ng-bootstrap styling */
.dropdown-menu .btn-light:hover {
    transition: 0.4s;
    background-color: rgba(254, 111, 59, 0.69) !important;
}

/* Overwrites ng-bootstrap styling */
.dropdown-menu .bg-primary {
    background-color: var(--theme-color) !important;
}

/* Adjusts basketball events ng-bootstrap drop down styling */
.dropdown-toggle::after {
    display: none;
}

/* Adjusts training ng-bootstrap drop down styling */
.dropdown-item:hover {
    color: var(--theme-color);
    transition: 0.4s;
    text-decoration: underline;
}

/* Adjusts training ng-bootstrap drop down styling */
.dropdown-item:active {
    transition: 0.4s;
    background-color: var(--theme-color);
}

/* Adjusts training ng-bootstrap drop down styling */
.dropdown-item:focus {
    outline: 0;
}

.dropdown-menu.show {
    right: 0.5rem;
    left: unset;
}
